In [27]:
#Below is an illustration on how to fire sql queries using apache spark's api

from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row
spark = SparkSession.builder.getOrCreate()
sqlContext = SQLContext(sc)
house = [('Living_Room',25),('Bed_Room',22),('Kitchen',20),('Bathroom',11)]
rdd = sc.parallelize(house)
House = rdd.map(lambda x: Row(room=x[0], areasqm=int(x[1])))
schemaHouse = sqlContext.createDataFrame(House)
schemaHouse.createOrReplaceTempView('house')

In [45]:
#returns the minimum areasqm
def MinValue (df,spark): 
    return spark.sql("SELECT MIN(areasqm) as minarea from house").first().minarea
MinValue(House,spark)

11

In [37]:
#returns the maximum areasqm
def MaxValue (df,spark): 
    return spark.sql("SELECT MAX(areasqm) as maxarea from house").first().maxarea
MaxValue(House,spark)

25

In [41]:
#returns the mean areasqm
def MeanValue(df,spark):
    return spark.sql("SELECT Avg(areasqm) as avg from house").first().avg

In [42]:
#calculate standard deviation of the areasqm
def sdTemperature(df,spark):
    return spark.sql("SELECT stddev_pop(areasqn) as sdtarea from house").first().sdarea

In [43]:
#returns the Skewness of the areasqm
def skewArea(df, spark):
    
    return spark.sql("""
SELECT 
    (
        1/COUNT(areasqm)
    ) *
    SUM (
        POWER(areasqm-%s,3)/POWER(%s,3)
    )

as skarea from house
                    """ %(MeanValue(df,spark),sdTemperature(df,spark))).first().sktemperature

In [44]:
#returns the Kurtosis of the areasqm
def kurtosisArea(df,spark):    
        return spark.sql("""
SELECT 
    (
        1/ COUNT(areasqm)
    ) *
    SUM (
        POWER(areasqm-%s,4)/POWER(%s,4)
    )
as karea from house
                    """ %(MeanValue(df,spark),sdTemperature(df,spark))).first().ktemperature